* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}
body {
  color: #999;
  font-family: 'Roboto', sans-serif !important;
  background-color: #1d1d1d;
}
.container {
  width: 80%;
  height: auto;
  margin: auto;
}
